{"name":"Musical Hangman And More","slug":"musicalhangmanandmore","version":"1.0","userInterfaceStyle":"light","platforms":["ios","android"],"privacy":"public","description":"A colorful and fun app that helps young children learn sheet music.","owner":"musicaldev","icon":"./assets/icon.png","splash":{"image":"./assets/SplashScreen.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.leamcshan.sheetmusickids","infoPlist":{"UISupportedInterfaceOrientations~ipad":["UIInterfaceOrientationLandscapeLeft","UIInterfaceOrientationLandscapeRight"]},"requireFullScreen":true},"android":{"package":"com.leamcshan.sheetmusickids"},"extra":{"eas":{"projectId":"543f8cb4-3b36-4d2a-9888-e0fb45b94cec"}},"sdkVersion":"53.0.0"}